
@{
    ViewBag.Title = "Confirm payment";
}

<h2>View</h2>
@*@Html.ActionLink("pay with the cards yo ", "PaymentWithCreditCard","Paypal")*@

@Html.ActionLink("pay with your paypal", "PaymentwithPaypal", "Paypal")